div.quadrado {
    width: 300px;
    height: 300px;
    background-color: lightgray;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid black
}

div#q1 {
    background-color: yellow;
}

div#q2 {
    background-image: linear-gradient(to top, red, rgb(8, 0, 1));
}

div#q3 {
    background-image: url(imagens/pattern003.png);
}