@charset "UTF-8";

div{
    display: inline-block;
    background-color: rgba(65, 54, 54, 0.573);
    border: 1px solid black;
    height: 200px;
    width: 200px;
    text-align: center;

    
}
div:hover{
    background-color: green;
}