@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}


body {
    background: black url(back-phone.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 50px;
}

main {
    background-color: rgba(255, 255, 255, 0.842);
    width: 450px;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
   
}

img {
    display: block;
    margin: auto;
}

h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgba(0,0,0,0.493);
    font-size: 1.8em;
}

#pc, #tv, #print, #tablet {  display: none; }
   
@media screen and (min-width: 600px){
    body {
        background-image: url(back-tablet.jpg);
    }

    #tablet {
        display: block;
    }

    #phone {
        display: none;
    }
}


@media screen and (min-width: 980px){
    body {
        background-image: url(back-pc.jpg);
    }

    #pc {
        display: block;
    }

    #tablet {
        display: none;
    }
}


@media screen and (min-width: 1600px){
    body {
        background-image: url(back-tv.jpg);
    }

    #tv {
        display: block;
    }

    #pc {
        display: none;
    }
}


