@media screen and (min-width: 768px) {
    #iconburguer {
        display: none;
    }
    #menu {
        display: block !important;
    }
    nav li {
        display: inline-block;
    }

    main {
        width: 768px;
    }
}