* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
    width: 100%;
    background-color: #e3f3fc;
}

header {
    background-color: #295872;
}

header>h1 {
    padding: 10px;
    text-align: center;
    color: white;
}

#menuburguer {
    display: block;
    background-color: #19394a;
    color: white;
    text-align: center;
    padding: 7px;
    
}

#menuburguer:hover {
    cursor: pointer;
    background-color: #9bbacc ;
    color: black;
}

/* #menuburguer:hover ~ nav {
    display: block;
} */

nav {
    display: none;
}

nav>ul {
    list-style-type: none;
}


nav a {
    display: block;
    text-align: center;
    color: white;
    padding: 10px;
    text-decoration: none;
    background-color: #357599;
    border: 2px solid #4292bf;
}

nav a:hover {
    background-color: #67a8cd;
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;

}

main h2 {
    padding-bottom: 20px;
}

main p {
    text-align: justify;
    text-indent: 20px;
    margin-bottom: 10px;

}